<div class="container" color="orange" [tooltips]="{position: 'bottom', message: 'Im a container'}">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" [(tabs)]="M">
        <li class="tab col s3"><a data-id="create" href="#create">Création</a></li>
        <li class="tab col s3"><a data-id="list" href="#list">List</a></li>
        <li class="tab col s3"><a data-id="edit" href="#edit">Edition</a></li>
      </ul>
    </div>
    <div id="create" class="col s12">
      <app-weather-create (create)="createAction($event)"></app-weather-create>
    </div>
    <div id="list" class="col s12">
      <app-weather-list [items]="weathers" (edit)="editAction($event)"></app-weather-list>
    </div>
    <div id="edit" class="col s12">Test 3</div>
  </div>
</div>

<div id="modal1" class="modal" appModal (mInstance)="mInstance = $event">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <button class="btn">Close</button>
  </div>
</div>


<!--
  Résumé
  {{ XXX }} => Binding One-Way = component.ts vers component.html
  [(ngModel)] => Binding Two-Way = One-Way + component.html vers component.ts
  #XXXX => Binding local = Création d'une variable local au template
-->

<!--
  Directive
  - attribute => Permet la modification par de la logique d'un ou plusieur attribut de la balise HTML
    - style
    - class
    - display
    - id
    - ...
  - structural
    - if
    - for
  - selector
  - event
    - ()
 -->