<table class="striped">
    <thead>
        <tr>
            <th>Ville</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.ville }}</td>
            <td>{{ item.desc }}</td>
            <td>
                <button class="btn" (click)="editAction(item)">Éditer</button>
                <button class="btn red" (click)="deleteAction(item)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>
