<div class="row">
    <div class="input-field">
        <input type="text" id="town" name="town" #town>
        <label for="town">Ville</label>
    </div>
    <div class="input-field">
        <input type="number" id="temp" name="temp" #temp>
        <label for="temp" class="active">Tempéarture</label>
    </div>
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea" #desc></textarea>
        <label for="description">Description</label>
    </div>
    <button class="btn" type="button" (click)="add(town, temp, desc)">Ajouter</button>
</div>